.titulo
{
  animation: 12s ease 0s infinite normal none running animacao;
}

.project1
{
  animation: 10s ease 0s infinite normal none running animacao;
}

.project2
{
  animation: 13s ease 1s infinite normal none running animacao;
}

.project3
{
  animation: 16s ease 0s infinite normal none running animacao;
}

.project4
{
  animation: 18s ease 1s infinite normal none running animacao;
}

@keyframes animacao
{
  0%{transform:translateY(0)}
  30%{transform:translateY(-10px)}
  50%{transform:translateY(4px)}
  70%{transform:translateY(-15px)}
  100%{transform:translateY(0)}
}